import(IsoGene, ORCME, ORIClust, orQA, goric)
import(RColorBrewer, geneplotter)
import(tkrplot)
import(Rcpp)
import(xlsx)
import(tcltk)
import(ff)
import(jpeg)
importFrom(multtest, mt.rawp2adjp)
importFrom(relimp, showData)
importFrom(Iso, pava)
importFrom(Biobase, openPDF)
export(IsoGeneGUI, IsoGeneGUIHelp)
