importFrom(Iso, pava)
importFrom(multtest, mt.rawp2adjp)
importFrom(IsoGene, IsoGene1)
importFrom(IsoGene, Isoqval)
importFrom(IsoGene,  Isoallfdr)
importFrom(gdata, read.xls)
importFrom(WriteXLS, WriteXLS)
importFrom(relimp, showData)
export(about, adjustment, browse, browse2,  CalcStat, ChooseStat, CVPlot, diginum,  ExactE2,ExactE2Val,exit, get.ResSAM, getDose, getExprs, IsofudgeMod, IsofudgeMod2, IsoGenemMod, Isomean, Isoplot, IsoPlot.mod, IsoPlotSldr, IsopvalPlot,IsopvaluePlot, IsoqqstatMOD, IsoRawpMod , IsoGeneGUI, IsoStat, IsoTest, loadDataSet, MeanDiff, onHelpIsoGene, onHelpIsoGeneGUI, openFile, Permutation, PermuteSAM, Plot2, PlotFdrDlt, PlotFPDlt, PlotSigDlt, printExact, printsummary, PvalAdj, samplot2, save.result, save.result.mult, saveDir, SaveGraph, saveXls, savingRwd,  SEPlot, Setseed, showdata, Signif, summ, UserPlot, UserPlotting, xfudge)