import(IsoGene, ORCME, ORIClust, orQA, goric)
import(RColorBrewer, xlsx, geneplotter)
import(tkrplot)
import(Rcpp)
import(ff)
importFrom(multtest, mt.rawp2adjp)
importFrom(gdata, read.xls)
importFrom(relimp, showData)
importFrom(Iso, pava)
importFrom(Biobase, openPDF)
export(IsoGeneGUI, IsoGeneGUIHelp)
